.form-team-img {
    width: 2.5rem;
}

.stat-container {
    font-size: small;
}

.team-detail {
    margin-bottom: 0.525rem;
    margin-top: 0.55rem;
    margin-right: 0.4rem;
}

.team-detail-top {
    margin-bottom: 0.5rem;
    margin-top: 0.3rem;
    margin-right: 0.4rem;
}

.adv-text {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}